---
- name: Rebooting and unlock
  ansible.legacy.reboot:
    post_reboot_delay: 20
    test_command: "echo -ne {{ hetzner_pve_luks_pass }} > /lib/cryptsetup/passfifo"

- name: Wait for system comming up after unlock
  ansible.legacy.wait_for:
    port: 22
    host: "{{ inventory_hostname }}"
    delay: 20
  delegate_to: localhost
