#!/bin/bash
log() 
  echo "********************* $1 ********************"
}

wipefs -a {{ drive.path }}

apt install -y parted

parted --script {{ drive.path }} mklabel gpt
parted --script {{ drive.path }} mkpart primary 0% 100%
mkfs.ext4 -F {{ drive.partition1.path }}

apt update && apt install -y lvm2 cryptsetup
echo -e "{{ hetzner_pve_luks_pass }}" | cryptsetup -q -y -v luksFormat {{ drive.partition1.path }}
echo -e "{{ hetzner_pve_luks_pass }}" | cryptsetup open {{ drive.partition1.path }} {{ drive.partition1.crypt_name }}

pvcreate {{ drive.partition1.crypt_path }}
vgcreate {{ drive.vg.name }} {{ drive.partition1.crypt_path }}
lvcreate --type thin-pool -l 100%FREE --name {{ drive.lv.name }} {{ drive.vg.name }}

mkfs.ext4 -F {{ drive.lv.path }}

mkdir {{ drive.lv.mount }}
echo '{{ drive.lv.path }} {{ drive.lv.mount }} ext4 defaults 0 0' >> /etc/fstab
mount {{ drive.lv.mount }}

# TODO move out
tee -a /etc/pve/storage.cfg << EOF > /dev/null
lvmthin: ext
  content images, iso
  thinpool ext
  vgname {{ drive.vg.name }}
EOF

log "add {{ drive.partition1.crypt_path }} to crypttab"
UUID=$(cryptsetup luksUUID {{ drive.partition1.path }})
echo "{{ drive.partition1.crypt_name }} UUID=$UUID none luks,discard,initramfs,keyscript=decrypt_keyctl" >> /etc/crypttab

log "update initramfs"
sudo update-initramfs -c -k $(uname -r)

log "drive {{ drive.path }} encrypted"
