CRYPTPASSWORD {{ hetzner_pve_luks_pass }}
CRYPT 1

{% for drive in hetzner_pve_drive_paths %}
DRIVE{{ loop.index }} {{ drive }}
{% endfor %}

SWRAIDLEVEL 1
SWRAID {{ hetzner_pve_swraid }}

BOOTLOADER grub
HOSTNAME {{ inventory_hostname }}

IPV4_ONLY yes

USE_KERNEL_MODE_SETTING yes

PART /boot/efi esp 256M
PART /boot ext4 2G
PART /     ext4 80G crypt
IMAGE /root/images/Debian-bookworm-latest-amd64-base.tar.gz
SSHKEYS_URL /tmp/authorized_keys
