CRYPTPASSWORD {{ hetzner_pve_luks_pass }}

DRIVE1 {{ hetzner_pve_main_drive_path }}
#DRIVE2 /dev/sdb

#DRIVE1 /dev/sda
#DRIVE2 /dev/sdb

SWRAID {{ hetzner_pve_swraid }}

BOOTLOADER grub
HOSTNAME {{ inventory_hostname }}

PART /boot/efi esp 256M
PART /boot ext4 2G
PART /     ext4 all crypt
IMAGE /root/.oldroot/nfs/images/Debian-stable-amd64-base.tar.gz
SSHKEYS_URL /tmp/authorized_keys
